.playContainer {
  display: grid;
  margin: 75px 20px 20px 20px;
  height: auto;
  /* border: 2px dotted black; */
  grid-template-columns: 2fr 0.9fr;
  column-gap: 20px;
}

.recommended {
  display: flex;
  flex-direction: column;
}

.sideVideo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.thumbnail {
  flex-basis: 49%;
}

.thumbnail img {
  width: 100%;
}

.info {
  flex-basis: 49%;
}

.info h4 {
  font-size: 13px;
  margin-bottom: 5px;
}

.info p {
  font-size: 14px;
  font-weight: 500;
}

.infoViews {
  font-size: 12px;
  font-weight: 400;
}

/* Css for PlayVideo component */

.playVideo h3 {
  margin-top: 10px;
  font-weight: 600;
  font-size: 22px;
}

.video {
  width: 100%;
}

.playVideo hr {
  border: 0;
  height: 1px;
  background: #ccc;
  margin: 10px 0;
}

.playVideoInfo {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 14px;
  color: #5a5a5a;
}

.playVideoInfo span {
  display: inline-flex;
  align-items: center;
  margin-left: 15px;
}

.playVideoInfo img {
  width: 20px;
  margin-right: 8px;
}

.publisher {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.publisher img {
  width: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

.publisher div {
  flex: 1;
  line-height: 18px;
}

.publisher p {
  color: #000;
  font-weight: 600;
  font-size: 18px;
}

.publisher span {
  font-size: 13px;
  color: #5a5a5a;
}

.publisher button {
  background: red;
  color: #fff;
  padding: 8px 30px;
  border: 0;
  outline: 0;
  border-radius: 4px;
  cursor: pointer;
}

.vidDescription {
  margin-top: 15px;
  padding-left: 55px;
}
.vidDescription p {
  font-size: 14px;
  margin-bottom: 5px;
  color: #5a5a5a;
}

.vidDescription h4 {
  margin-top: 15px;
  font-size: 14px;
  color: #5a5a5a;
}

.comment {
  display: flex;
  margin: 20px 0px 20px 0px;
}

.user {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 15px 10px 0px 0px;
}

.comment h3 {
  font-size: 14px;
  margin-bottom: 2px;
}
.comment h3 span {
  font-size: 12px;
  color: #5a5a5a;
  font-weight: 500;
  margin-left: 8px;
}

.comment p {
  font-size: 14px;
  margin-bottom: 5px;
  color: #5a5a5a;
}
.commentAction {
  display: flex;
  align-items: center;
  margin: 8px 0;
  font-size: 14px;
}

.commentAction img {
  border-radius: 0;
  width: 20px;
  margin-right: 5px;
}

.commentAction span {
  margin-right: 20px;
  color: #5a5a5a;
}
